* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background-color: #777;
  width: 1120px;
  font-size: 18px;
  padding-left: 150px;

}

header {
  background-color: #ebebeb;
  width: 960px;
  padding-top: 40px;
  margin-bottom: 20px;
  }

  #Nav {
    background-color: #ebebeb;
    width: 960px;
    padding-top: 40px;
    margin-bottom: 20px;
    }

section {
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #ebebeb;
}
  
#aside {
  float: right;
  width: 450px;
  height: 400px;
  background-color: #ebebeb;
}

#section {
  float: left;
  width: 475px;
  margin-right: 10px;
  background-color: #ebebeb;
  height: 400px;
}

#article {
  padding: 30px;
  margin-top: 10px;
  text-align: center;
  color: #ebebeb;
  background-color: #777;
}

#heading {
  padding: 10px;
  margin: 10px;
  color: #777;
  background-color: #ebebeb;
  text-align: center;
  }

#paragraph {
  padding: 10px;
  margin: 10px;
  color: #777;
  background-color: #ebebeb;
  text-align: center;
  }

  #footer {
    padding: 10px;
    clear: both;
    color: #777;
    background-color: #ebebeb;
    margin-top: 10px;
    text-align: center;
    width: 960px;
    }
